#pip install... :
asgiref==3.8.1
Django==4.1.13
django-cors-headers==4.4.0
djangorestframework==3.15.1
dnspython==2.6.1
pymongo==4.8.0
pytz==2024.1
sqlparse==0.2.4
typing_extensions==4.12.1
pillow




#for npm, npm install... :
     #recharts
     #axios
     #useState
     #useEffect
     #express
     #useRef
     #component?
     #concurrently --save-dev
     #dayjs


#    "start:server": "node server.js",
#    "start": "concurrently \"npm run start:react\" \"npm run start:server\"",     