/*overview.css*/
.cards {
  display: flex;
  justify-content: space-between;
}

.section {
  margin-bottom: 20px;
}

.section h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.tab-navigation {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.tab-navigation button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  color: black; /*trouble with seeing the text on sub tab headings TODO: */
}

.tab-navigation button.active {
  font-weight: bold;
  border-bottom: 2px solid #333; /* Example of active tab indicator */
  border-bottom-color: #333;  /* color of the line below the sub-tab headings TODO:  */
}

.tab-content {
  padding: 10px;
}
.tab-navigation button:hover {
  background-color: #1a73e88c
}