.reports {
    display: flex;
    justify-content: space-between;
  }
  
  .recent-reports, .chart-by-percent {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 20px;
    width: 48%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .recent-reports h2, .chart-by-percent h2 {
    margin: 0 0 10px;
    font-size: 18px;
  }
  
  .recent-reports canvas, .chart-by-percent canvas {
    width: 100% !important;
    height: 400px !important;
  }
  #lineChart {
    width: 400px;
    height: 300px;
  }
  
  p {
    text-align: center;
    color: rgb(25, 85, 214);
  }
  #lineChart, #doughnutChart {
    width: 400px;
    height: 300px;
  }
  
  .reports {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  }
  
  .recent-reports, .chart-by-percent {
    width: 45%;
  }
  
 
  
  





  .section {
    margin-bottom: 20px;
  }
  
  .tab-navigation {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  
  .tab-navigation button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
  }
  
  .tab-navigation button.active {
    font-weight: bold;
    border-bottom: 2px solid #333; /* Example of active tab indicator */
  }
  
  .tab-content {
    padding: 10px;
  }
  