/* sidebar.css */
.sidebar {
  background-color: #1E1E2F; /* Updated to recommended sidebar color */
  color: white;
  width: 150px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.logo span {
  font-size: 20px;
  font-weight: bold;
}

.menu ul, .footer-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.menu li, .footer-menu li {
  padding: 15px 20px;
  cursor: pointer;
  color: #B0BEC5; /* Updated inactive menu item color */
  transition: background-color 0.3s;
  border-radius: 7px;
  margin-bottom: 10px;
}

.menu li.active,  .footer-menu li.active {
  background-color: #FF4646; /* Active or hover menu item color */
  color: white;
}

.footer-menu {
  margin-top: auto; /* Push footer menu items to the bottom */
}
.menu li:hover,.footer-menu li:hover {
  background-color: #ff464686;
  color: white;
}