/* events.css */
.events-container {
  position: relative ;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 400px;
  max-height: fit-content;
  padding: 5px;
  background-color: #f7f7f7;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
}

.events-container button {
  display: block;
  margin: 10px auto;
  width: fit-content;
  padding: 10px;
  font-size: 16px;
  background-color: #03a7d3;
  color: white;
  border: none;
  cursor: pointer;
}

.events-container button:hover {
  background-color: #0056b3;
}

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  z-index: 1000;
}

.dialog form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dialog form input {
  padding: 10px;
  font-size: 16px;
}

.dialog form button {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.dialog form button:hover {
  background-color: #0056b3;
}

.dialog form button[type="button"] {
  background-color: #ccc;
  color: black;
}

.dialog form button[type="button"]:hover {
  background-color: #999;
}

.events-timeline {
  display: flex;
  margin-top: 20px;
}

.event-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 14px;
}
