.graph-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
  margin-top: 30px;
}

.dropdown {
  width: 50%;
  margin-bottom: 20px;
  margin-left: 0%;
  text-align: left; 
}

.chart {
  width: 100%;
  max-width: 800px;
  height: 400px;
}

.range-input {
  width: 50%;
  max-width: 800px;
  margin-top: 20px;
  margin-left: 0%;
  text-align: left;
}








.ui.fluid.dropdown {
  display: block;
  width: 100%;
  min-width: 0;
}
.ui.selection.dropdown {
  cursor: pointer;
  word-wrap: break-word;
  line-height: 1em;
  white-space: normal;
  outline: 0;
  transform: rotateZ(0);
  min-width: 14em;
  min-height: 2.71428571em;
  background: #fff;
  display: inline-block;
  padding: .78571429em 2.1em .78571429em 1em;
  color: rgba(0,0,0,.87);
  box-shadow: none;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: .28571429rem;
  transition: box-shadow .1s ease,width .1s ease;
}
.ui.dropdown {
  cursor: pointer;
  position: relative;
  display: inline-block;
  outline: 0;
  text-align: left;
  transition: box-shadow .1s ease,width .1s ease;
  -webkit-tap-highlight-color: transparent;
}

element {
  position: relative;
  cursor: default;
  width: 800px;
  height: 400px;
}

.chart-container .recharts-wrapper {
  width: 100% !important;
}