.pie-charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  
}

.pie-chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.pie-chart-container h3 {
  margin-bottom: 10px;
}

.pie-chart-container p {
  color: red;
}
