/* DataManagement.css */

.data-management-section {
    margin-bottom: 20px;
  }
  
  .data-management-section h3 {
    margin-bottom: 10px;
  }
  
  .data-management-section button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #03a7d3;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .data-management-section button:hover {
    background-color: #03a6d3a4;
  }
  
  input[type="file"] {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
  }